<!DOCTYPE html>
<html>
<head>
	<title>Avengers book shop</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport1" content="width=device-width, initial-scale=1">
    <link rel="stylesheet2" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
      body {
    background-color: lightblue;
  }

  h1 {
    color: navy;
    margin-left: 20px;
  }

  nav {
    color: silver
  }
  p.indent{
    padding-left:  1.8em
  }
    
  </style>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	<a class="navbar-brand" href="{{ url_for('index') }}">JK Book shop </a>
	<!--links-->
	<ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" a href="{{ url_for('New_arrivals') }}">New arrivals</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" a href="{{ url_for('login') }}">Login
         </a>
    </li>
		
		<!--Dropdown-->
		<li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Genre</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" a href="{{ url_for('Fiction') }}">Fiction</a>
        <a class="dropdown-item" a href="{{ url_for('Non_Fiction') }}">Non Fiction</a>
        <a class="dropdown-item" a href="{{ url_for('Language') }}">Language</a>
        <a class="dropdown-item" a href="{{ url_for('Science') }}">Science</a>
        <a class="dropdown-item" a href="{{ url_for('General') }}">General</a>
        <a class="dropdown-item" a href="{{ url_for('index') }}">Home</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" a href="{{ url_for('Shopping_cart') }}">Shopping cart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('Register') }}">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('Contact') }}">Contact us</a>
    </li>
  </ul>
</nav>
<p><h2>Language</h2>

<div class="container-fluid">
  
  <div class="row">
    <div class="col-sm-4" style="background-color:lavender;">#1<br>
      <img src={{url_for('static', filename = 'img/Lan1.jpg')}} id= "Lan01" /><br>Chineasy Everyday: Learning Chinese Through Its Culture <br><br>
      Author:Shaolan<br>
      HKD$295.00 <button type="button" onclick="alert('Added to shoppring cart')">Add to cart</button></div>
    <div class="col-sm-4" style="background-color:lavenderblush;">#2<br>
      <img src={{url_for('static', filename = 'img/Lan2.jpg')}} id= "Lan02" /><br>
      Insight Guides Phrasebook: Dutch<br><br>
      Author:Insight Guides<br>
      HKD$86.66 <button type="button" onclick="alert('Added to shoppring cart')">Add to cart</button> </div>

    <div class="col-sm-4" style="background-color:lavender;">#3<br>
     <img src={{url_for('static', filename = 'img/Lan3.jpg')}} id= "Lan03" /><br>
       Merriam Webster's French-English Dictionary<br>
        Author: Merriam-Webster and Eileen M Haraty<br>
        HKD$75.00 <button type="button" onclick="alert('Added to shoppring cart')">Add to cart</button> </div>
  </div>
  <div class="row">
    <div class="col-sm-4" style="background-color:lavenderblush;">#4<br>
     <img src={{url_for('static', filename = 'img/Lan4.jpg')}} id= "Lan04" /><br>The Book of Languages: Talk Your Way around the World<br>
      Author:Mick Webb<br>
      HKD$98.66 <button type="button" onclick="alert('Added to shoppring cart')">Add to cart</button> </div>
    <div class="col-sm-4" style="background-color:lavender;">#5<br>
    <img src={{url_for('static', filename = 'img/Lan5.jpg')}} id= "Lan05" /><br>The 5 Languages of Appreciation in the Workplace: Empowering Organizations by Encouraging People<br>
      Author:Gary Chapman <br>
      HKD$86.65 <button type="button" onclick="alert('Added to shoppring cart')">Add to cart</button> </div>
    <div class="col-sm-4" style="background-color:lavenderblush;">#6<br>
    <img src={{url_for('static', filename = 'img/Lan6.jpg')}} id= "Lan06" /><br>The Critical Reader: AP English Language and Composition Edition<br>Author:Erica L. Meltzer<br>
      HKD$175.19 <button type="button" onclick="alert('Added to shoppring cart')">Add to cart</button> </div>
  </div>
</div>
</body>
</html>
